res/BSTSensorNodeOverBLE.json
[
    {
        "id": "9c1bd51cd93231f8",
        "type": "tab",
        "label": "BST Sensor Node over BLE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "500dbf3b2eabf897",
        "type": "mqtt in JSON",
        "z": "9c1bd51cd93231f8",
        "name": "",
        "topic": "bstsn/+/data/pressure",
        "qos": "0",
        "broker": "8bdac770a6ddf1ce",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "2c338686f1f89c69",
                "55dd72e68a9b1e3b"
            ]
        ]
    },
    {
        "id": "2c338686f1f89c69",
        "type": "function",
        "z": "9c1bd51cd93231f8",
        "name": "function 1",
        "func": "let value = msg.payload.value;\n//msg.payload = { x: Date.now(), y: value }; // Add a timestamp\nmsg.payload = parseFloat(value.toFixed(2));\n\n\n// Extract the topic from the message\nvar topic = msg.topic;  // e.g., \"bstsn/device/data/pressure\"\n\n// Split the topic into an array using '/' as the delimiter\nvar topicParts = topic.split('/');\n\n// Extract the first part\nvar bstsnDeviceId = topicParts[1];\n\nglobal.set('g_active_bstsn_dev_id', bstsnDeviceId);\n\nmsg.devId = bstsnDeviceId;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": [
            [
                "af4242de2fe0b1c1",
                "771d5593abeb20de",
                "cf745d5799a5eb25",
                "45bf4e13c9b00e6c"
            ]
        ]
    },
    {
        "id": "af4242de2fe0b1c1",
        "type": "ui_chart",
        "z": "9c1bd51cd93231f8",
        "name": "",
        "group": "148c0a5bdaadb71a",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Air Pressure Data Plot (Pa)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "771d5593abeb20de",
        "type": "ui_gauge",
        "z": "9c1bd51cd93231f8",
        "name": "",
        "group": "148c0a5bdaadb71a",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Air Pressure Guage",
        "label": "Pa",
        "format": "{{msg.payload}}",
        "min": "30000",
        "max": "130000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "13008e945b5695c5",
        "type": "mqtt out JSON",
        "z": "9c1bd51cd93231f8",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "b4c660853961c8d0",
        "ignoreempty": true,
        "wholemsg": true,
        "x": 750,
        "y": 580,
        "wires": []
    },
    {
        "id": "cd8193e248378c7f",
        "type": "ui_button",
        "z": "9c1bd51cd93231f8",
        "name": "btn_calib_start",
        "group": "88ecd3af79fa2fb6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Calibration",
        "tooltip": "wait 3 seconds",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"calibrate_start\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "765627cddc395910",
                "17626e4a7e233ace"
            ]
        ]
    },
    {
        "id": "d6f8762e7b6e374d",
        "type": "function",
        "z": "9c1bd51cd93231f8",
        "name": "function 2",
        "func": "let value = msg.payload.value;\n//msg.payload = { x: Date.now(), y: value }; // Add a timestamp\nmsg.payload = value;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 300,
        "wires": [
            [
                "1be0305b2bee4137"
            ]
        ]
    },
    {
        "id": "1be0305b2bee4137",
        "type": "ui_gauge",
        "z": "9c1bd51cd93231f8",
        "name": "",
        "group": "7990122b73991c8c",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "weight",
        "label": "g",
        "format": "{{msg.payload}}",
        "min": "-100",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "b6c99f21c6ea6803",
        "type": "mqtt in JSON",
        "z": "9c1bd51cd93231f8",
        "name": "",
        "topic": "bstsn/+/data/weight",
        "qos": "2",
        "broker": "ac5e5afea2c8ed53",
        "ignoreempty": true,
        "removemqttconfig": false,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "d6f8762e7b6e374d"
            ]
        ]
    },
    {
        "id": "cf745d5799a5eb25",
        "type": "debug",
        "z": "9c1bd51cd93231f8",
        "name": "debug 2",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 620,
        "y": 40,
        "wires": []
    },
    {
        "id": "f02f356b8125ad8e",
        "type": "ui_text_input",
        "z": "9c1bd51cd93231f8",
        "name": "Reference Weight",
        "label": "Enter Weight (g):",
        "tooltip": "",
        "group": "88ecd3af79fa2fb6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "30a883ee8fa57d4a"
            ]
        ]
    },
    {
        "id": "30a883ee8fa57d4a",
        "type": "function",
        "z": "9c1bd51cd93231f8",
        "name": "function 3",
        "func": "global.set('g_reference_weight', msg.payload);  // Store the text input value in global context\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "765627cddc395910",
        "type": "function",
        "z": "9c1bd51cd93231f8",
        "name": "function 4",
        "func": "\n// msg.payload is the button click message\nmsg.payload.arg1 = global.get('g_reference_weight'); // Capture text from global context (set when text is changed)\n//msg.payload.command = \"calibrate\"\n//{ \"command\": \"calibrate\" }\n\nvar bstsnDeviceId = global.get('g_active_bstsn_dev_id');\nmsg.topic = 'bstsn/' + bstsnDeviceId + \"/cmd\"\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 580,
        "wires": [
            [
                "13008e945b5695c5"
            ]
        ]
    },
    {
        "id": "45bf4e13c9b00e6c",
        "type": "ui_text",
        "z": "9c1bd51cd93231f8",
        "group": "70bf0589379e4785",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Device ID:",
        "format": "{{msg.devId}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "c831480f3f7a85c4",
        "type": "ui_button",
        "z": "9c1bd51cd93231f8",
        "name": "btn_calib_stop",
        "group": "75efc97f63ef7d72",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Calibration",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"calibrate_stop\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "765627cddc395910",
                "829f8ba1210a8a0b"
            ]
        ]
    },
    {
        "id": "8d09fe6b95f41cef",
        "type": "ui_button",
        "z": "9c1bd51cd93231f8",
        "name": "btn_tare",
        "group": "88ecd3af79fa2fb6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tare",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"command\":\"tare\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "765627cddc395910",
                "17626e4a7e233ace"
            ]
        ]
    },
    {
        "id": "17626e4a7e233ace",
        "type": "function",
        "z": "9c1bd51cd93231f8",
        "name": "function 5",
        "func": "msg.payload = {\n    \"group\": { \n        \"show\": [\"BST_Sensor_Node_StopCalibration\"], \n        \"hide\": [\"BST_Sensor_Node_ControlCalibration\"], \n    }\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 680,
        "wires": [
            [
                "ce901685da1bbd0a",
                "f05049b6ed8de99a"
            ]
        ]
    },
    {
        "id": "f05049b6ed8de99a",
        "type": "ui_ui_control",
        "z": "9c1bd51cd93231f8",
        "name": "",
        "events": "all",
        "x": 760,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "ce901685da1bbd0a",
        "type": "debug",
        "z": "9c1bd51cd93231f8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 650,
        "y": 680,
        "wires": []
    },
    {
        "id": "829f8ba1210a8a0b",
        "type": "function",
        "z": "9c1bd51cd93231f8",
        "name": "function 6",
        "func": "msg.payload = {\n    \"group\": {\n        \"hide\": [\"BST_Sensor_Node_StopCalibration\"],\n        \"show\": [\"BST_Sensor_Node_ControlCalibration\"],\n    }\n}\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 860,
        "wires": [
            [
                "f05049b6ed8de99a"
            ]
        ]
    },
    {
        "id": "55dd72e68a9b1e3b",
        "type": "function",
        "z": "9c1bd51cd93231f8",
        "name": "function 7",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nmsg.payload = {\n    \"group\": {\n        \"hide\": [\"BST_Sensor_Node_StopCalibration\"],\n        \"show\": [\"BST_Sensor_Node_ControlCalibration\"],\n    }\n}\n",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "f05049b6ed8de99a"
            ]
        ]
    },
    {
        "id": "8bdac770a6ddf1ce",
        "type": "mqtt-broker",
        "name": "Local BST Sensor Node Pressure",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "148c0a5bdaadb71a",
        "type": "ui_group",
        "name": "Raw Air Pressure Sensor Data",
        "tab": "c38829103eb81695",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b4c660853961c8d0",
        "type": "mqtt-broker",
        "name": "BST Sensor Node Command",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "88ecd3af79fa2fb6",
        "type": "ui_group",
        "name": "ControlCalibration",
        "tab": "c38829103eb81695",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7990122b73991c8c",
        "type": "ui_group",
        "name": "Weight",
        "tab": "c38829103eb81695",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac5e5afea2c8ed53",
        "type": "mqtt-broker",
        "name": "Local BST Sensor Node Weight",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "70bf0589379e4785",
        "type": "ui_group",
        "name": "Status",
        "tab": "c38829103eb81695",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "75efc97f63ef7d72",
        "type": "ui_group",
        "name": "StopCalibration",
        "tab": "c38829103eb81695",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c38829103eb81695",
        "type": "ui_tab",
        "name": "BST_Sensor_Node",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]